# Clock 50M
Net CLK LOC = V10 | TNM_NET = CLK_PIN;
TIMESPEC TS_CLK_PIN = PERIOD CLK_PIN 50 MHz;

# Reset Active High
NET RST					LOC = N4 | IOSTANDARD = "LVCMOS18";

# WM8731
NET WM_I2C_SCLK			LOC = B3 | IOSTANDARD = "LVCMOS33";
NET WM_I2C_SDAT			LOC = A2 | IOSTANDARD = "LVCMOS33";
NET WM_BCLK				LOC = D11 | IOSTANDARD = "LVCMOS33";
NET WM_ADCLRC			LOC = C5 | IOSTANDARD = "LVCMOS33";
NET WM_ADCDAT			LOC = A4 | IOSTANDARD = "LVCMOS33";
NET WM_DACLRC			LOC = B4 | IOSTANDARD = "LVCMOS33";
NET WM_DACDAT			LOC = C4 | IOSTANDARD = "LVCMOS33";

NET WM_CFG_DONE			LOC = T10 | IOSTANDARD = "LVCMOS33";